.arrow {
color: green;
}

.evergreen {
   font-style: italic;
   color: olive;
   text-decoration:underline;
}

.deciduous {
   color: orange;
   font-weight:bolder;
}

.isWillow {
   color:magenta;
}

.isEven {
   font-size: x-large;
   color: cornflowerblue;
}

.isOdd {
   font-size: x-large;
   color:darkred;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

button {
   font-size: 2em;
   border: 0;
   padding: 0;
   background: none;
   cursor: pointer;
}

ul {
   display: flex;
   padding: 0;
}

li {
   margin: 0 20px;
   list-style: none;
   padding: 0;
}