.arrow {
color: green;
}

.evergreen {
   font-style: italic;
   color: olive;
   text-decoration:underline;
}

.deciduous {
   color: orange;
   font-weight:bolder;
}

.isWillow {
   color:magenta;
}

.isEven {
   font-size: x-large;
   color: cornflowerblue;
}

.isOdd {
   font-size: x-large;
   color:darkred;
}
